@model Product

@{
    string title = ViewBag.Action == "Add" ? "Add Product" : "Edit Product";
    ViewBag.Title = title;
}

<h2>@ViewBag.Title</h2>


<form asp-action="Edit" method="post">
    
<!-- **FOR DEBUGGING
    <div class="form-group">
        <label asp-for="ProductID">ID</label>
        <input asp-for="ProductID" class="form-control" readonly>
    </div>
    -->
    <span asp-validation-for="ProductCode" class="text-danger"></span>

    <div class="form-group">
        <label asp-for="ProductCode">Code</label>
        <input asp-for="ProductCode" class="form-control">
    </div>

    <span asp-validation-for="Name" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>

    <span asp-validation-for="YearlyPrice" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="YearlyPrice">Price</label>
        <input asp-for="YearlyPrice" class="form-control">
    </div>

    <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    <div class="form-group">

        <label asp-for="ReleaseDate">Realease Date</label>
        <input asp-for="ReleaseDate" class="form-control" value="@Model.ReleaseDate.ToString("yyyy-MM-dd HH:mm:ss")">

    </div>

    <div class="mt-2">
        <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
        <a asp-controller="Product" asp-action="List" class="btn btn-primary">Cancel</a>
    </div>
</form>
